*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    background-color:linear-gradient(90deg,rgb(10,0,0),rgb(10,0,0));
}
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #bcf0f1;
    margin: 0;
    padding: 0;
}

header {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-style: italic;
    background-color:rgb(79, 145, 145);
    color: #080908;
    padding: 1px 5px 10px;
    
}


main{
    display:grid;
    place-items:center;
    box-sizing: content-box;
    grid-template-rows: 5fr 2fr;
     
}

.main-div {
    display:grid;
    padding:10px;
    bottom:40px;
    max-width:fit-content;

}
footer{
    display:grid;
    place-items:center;
     
}


.quote{
    text-align:center;
    font-style:italic;
    max-width:max-content;
    padding:10px;

}


.bio{
    
  
    align-content:center;
    position:relative;
    display:contents;
    place-items:center; 
    font-family:cursive;
    box-sizing:border-box;
    color:#080908;
    
}

.bio>h1{
    margin-bottom: 1rem;
    font-size:6rem;
    line-height:9.5;
}

.bio-p{
    
    text-align:center;
    font-family:cursive;
    font-size:15px;
    padding:10px 20px 0px;
    border-radius:8px;
    border-left:2px solid rgb(160, 74, 95)
}


hr{
    width:50%;
    size:20px;
}

.footer-p{
    padding:20px;
    font-size:small;
}

.vid>h2{
    font-style:oblique;
    width:100px;
    height:550px;
}

button{
    font-size:23px;
    padding:0px;
    border-radius:20px;
    font-family:cursive;
    background-color:#080908;
    color:rgb(252, 246, 246);
}

button:active{
    
    transition:2s;
    color:#fff;

}

button:hover{
    color:#eaea0b;

}
video{

    border-radius:20px;
}